---
layout: example.html
title: Offline Kacheln
shortdesc: Gespeicherte Kacheln offline verwenden.
tags: "tiles"
docs: >
  Um den Download von Offline-Kacheln für den aktuellen Ausschnitt zu starten, bitte den entsprechenden Button drücken.
---
<div class="map" id="map"></div>
<button id="seed-basemap">basemap laden</button>
<button id="seed-widmung">widmung laden</button>
<button id="clear-basemap">basemap löschen</button>
<button id="clear-widmung">widmung löschen</button>
<div id="progress-basemap"></div>
<div id="progress-widmung"></div>
